{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Vehicles
        </div>
        <div class="card-block">

            <div class="row">
                <div class="col-md-1"><a href="{{  path('booking_operations') }}" class="btn btn-primary">Dashboard</a></div>
                <div class="col-md-1"><a href="{{  path('vehicles_new') }}" class="btn btn-primary">New Vehicle</a></div>
            </div><br />

            <table class="table table-bordered table-condensed datatable m-b-0">
                <thead>
                <tr>
                    <th>Unit #</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Vin</th>
                    <th>Licence Plate #</th>
                    <th>Production Year</th>
                    <th>Mileage</th>
                    <th>Color</th>
                    <th>Week Day Price</th>
                    <th>Week End Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for vehicle in vehicles %}
                    <tr>
                        <td>{{ vehicle.unitNumber }}</td>
                        <td>{{ vehicle.brand }}</td>
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.vin }}</td>
                        <td>{{ vehicle.licencePlateNumber }}</td>
                        <td>{{ vehicle.productionYear }}</td>
                        <td>{{ vehicle.mileage }}</td>
                        <td>{{ vehicle.color }}</td>
                        <td>{{ vehicle.weekDayPrice }}</td>
                        <td>{{ vehicle.weekEndPrice }}</td>
                        <td>
                            <a href="{{ path('vehicles_edit', { 'id': vehicle.id }) }}"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.js') }}"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript">
        $('.datatable').dataTable();
    </script>
    <!-- end initialize page scripts -->
{% endblock %}
