{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Vehicle creation
        </div>
        <div class="card-block">
            <div class="row m-a-0">
                <div class="col-lg-12">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(form.vin, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.vin, { 'attr': {'class': 'form-control input-lg', 'placeholder': "VIN"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.brand, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.brand, { 'attr': {'class': 'form-control', 'placeholder': "Brand"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.model, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.model, { 'attr': {'class': 'form-control', 'placeholder': "Model"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.productionYear, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.productionYear, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Production Year"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.mileage, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.mileage, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Mileage"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.color, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.color, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Color"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.weekDayPrice, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.weekDayPrice, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Week Day Price"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.weekEndPrice, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.weekEndPrice, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Week End Price"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" value="Create" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('vehicles_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
