{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Vehicle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Vin</th>
                <td>{{ vehicle.vin }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>Productionyear</th>
                <td>{{ vehicle.productionYear }}</td>
            </tr>
            <tr>
                <th>Mileage</th>
                <td>{{ vehicle.mileage }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ vehicle.color }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehicles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vehicles_edit', { 'id': vehicle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
