{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emailtemplate</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emailTemplate.id }}</td>
            </tr>
            <tr>
                <th>Eventname</th>
                <td>{{ emailTemplate.eventName }}</td>
            </tr>
            <tr>
                <th>Emailcontent</th>
                <td>{{ emailTemplate.emailContent }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('email-templates_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('email-templates_edit', { 'id': emailTemplate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
