{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Bookings list
        </div>
        <div class="card-block">
            <table class="table table-bordered table-condensed datatable m-b-0">
                <thead>
                <tr>
                    <th>Delivery DateTime</th>
                    <th>Return Datetime</th>
                    <th>Delivery Location</th>
                    <th>Return Location</th>
                    <th>Customer</th>
                    <th>Vehicle</th>
                    <th>Invoice</th>
                    <th>Unit #</th>
                    <th>Special Req.</th>
                    <th>Services Req.</th>
                    <th>Customer IP</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{% if booking.pickUpDate %}{{ booking.pickUpDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if booking.dropOffDate %}{{ booking.dropOffDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ booking.pickUpLocation }}</td>
                        <td>{{ booking.dropOffLocation }}</td>
                        <td>{{ booking.customer.getName }}</td>
                        <td>{{ booking.vehicle.getVinBrandModel }}</td>
                        <td>-</td>
                        <td>{{ booking.unitNumber }}</td>
                        <td>{{ booking.specialRequirements }}</td>
                        <td>{{ booking.servicesRequested }}</td>
                        <td>{{ booking.customerIpAddress }}</td>
                        <td>{{ booking.status }}</td>
                        <td>
                            <a href="{{ path('bookings_edit', { 'id': booking.id }) }}"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('bookings_new') }}">Create a new booking</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.js') }}"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript">
        $('.datatable').dataTable();
    </script>
    <!-- end initialize page scripts -->

{% endblock %}
