{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/vendor/dhtmlxScheduler/codebase/dhtmlxscheduler.css") }}"
          type="text/css"/>

    <style type="text/css" media="screen">
        .dhx_cal_event_line{
            height:98% !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div onload="init();" class="card bg-white">
        <div id="scheduler_here" class="dhx_cal_container"
             style='width: 100%; min-height: 700px;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
            </div>
            <div class="dhx_cal_header">
            </div>
            <div class="dhx_cal_data">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript"
            src="{{ asset("assets/vendor/dhtmlxScheduler/codebase/dhtmlxscheduler.js") }}"></script>
    <script type="text/javascript"
            src="{{ asset("assets/vendor/dhtmlxScheduler/codebase/ext/dhtmlxscheduler_timeline.js") }}"></script>

    <script type="text/javascript" charset="utf-8">
        function init() {

            scheduler.locale.labels.timeline_tab = "Timeline";
            scheduler.locale.labels.section_custom="Section";
            scheduler.config.details_on_create=true;
            scheduler.config.details_on_dblclick=true;
            scheduler.config.xml_date="%Y-%m-%d %H:%i";

            //===============
            //Configuration
            //===============
            var sections = {{ sections|raw }};

            scheduler.createTimelineView({
                name:	"timeline",
                x_unit:	"minute",
                x_date:	"%H:%i",
                x_step:	60,
                x_size: 24,
                x_start: 0,
                x_length: 24,
                y_unit:	sections,
                y_property:	"section_id",
                render:"bar"
            });

            //===============
            //Data loading
            //===============
            scheduler.config.lightbox.sections=[
                {name:"description", height:130, map_to:"text", type:"textarea" , focus:true},
                {name:"custom", height:23, type:"select", options:sections, map_to:"section_id" },
                {name:"time", height:72, type:"time", map_to:"auto"}
            ];

            scheduler.init('scheduler_here',new Date(),"timeline");
            scheduler.parse({{ bookings|raw }},"json");
        }

        window.onload = init;
    </script>

{% endblock %}
