{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/vendor/dhtmlxScheduler/codebase/dhtmlxscheduler.css") }}"
          type="text/css"/>

    <style type="text/css" media="screen">
        .white_cell{
            background-color:white;
        }
        .green_cell{
            background-color:#95FF95;
        }
        .yellow_cell{
            background-color:#FFFF79;
        }
        .red_cell{
            background-color:#FF5353;
        }
    </style>
{% endblock %}

{% block body %}
    <div onload="init();" class="card bg-white">
        <div id="scheduler_here" class="dhx_cal_container"
             style='width: 100%; min-height: 700px;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
            </div>
            <div class="dhx_cal_header">
            </div>
            <div class="dhx_cal_data">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript"
            src="{{ asset("assets/vendor/dhtmlxScheduler/codebase/dhtmlxscheduler.js") }}"></script>
    <script type="text/javascript"
            src="{{ asset("assets/vendor/dhtmlxScheduler/codebase/ext/dhtmlxscheduler_timeline.js") }}"></script>

    <script type="text/javascript" charset="utf-8">
        function init() {

            scheduler.locale.labels.timeline_tab = "Timeline";
            scheduler.locale.labels.section_custom="Section";
            scheduler.config.details_on_create=true;
            scheduler.config.details_on_dblclick=true;
            scheduler.config.xml_date="%Y-%m-%d %H:%i";

            //===============
            //Configuration
            //===============
            var sections=[
                {key:1, label:'<img src="{{ asset("assets/images/sedan-512.png") }}" style="width: 30%; height: auto;" /> Audi A4'},
                {key:2, label:'<img src="{{ asset("assets/images/sedan-512.png") }}" style="width: 30%; height: auto;" /> Mercedes S Classe'},
                {key:3, label:'<img src="{{ asset("assets/images/sedan-512.png") }}" style="width: 30%; height: auto;" /> BMW 320i'},
                {key:4, label:'<img src="{{ asset("assets/images/sedan-512.png") }}" style="width: 30%; height: auto;" /> Audi A7'}
            ];

            scheduler.createTimelineView({
                name:	"timeline",
                x_unit:	"minute",
                x_date:	"%H:%i",
                x_step:	30,
                x_size: 24,
                x_start: 16,
                x_length:	48,
                y_unit:	sections,
                y_property:	"section_id",
                render:"bar"
            });

            //===============
            //Data loading
            //===============
            scheduler.config.lightbox.sections=[
                {name:"description", height:130, map_to:"text", type:"textarea" , focus:true},
                {name:"custom", height:23, type:"select", options:sections, map_to:"section_id" },
                {name:"time", height:72, type:"time", map_to:"auto"}
            ];

            scheduler.init('scheduler_here',new Date(2016,10,30),"timeline");
            scheduler.parse([
                { start_date: "2016-11-30 09:00", end_date: "2016-11-30 12:00", text:"Booking 12458", section_id:1},
                { start_date: "2016-11-30 10:00", end_date: "2016-11-30 16:00", text:"Booking 89411", section_id:1},
                { start_date: "2016-11-30 10:00", end_date: "2016-11-30 14:00", text:"Booking 64168", section_id:1},
                { start_date: "2016-11-30 16:00", end_date: "2016-11-30 17:00", text:"Booking 46598", section_id:1},

                { start_date: "2016-11-30 12:00", end_date: "2016-11-30 20:00", text:"Booking B-48865", section_id:2},
                { start_date: "2016-11-30 14:00", end_date: "2016-11-30 16:00", text:"Booking B-44864", section_id:2},
                { start_date: "2016-11-30 16:30", end_date: "2016-11-30 18:00", text:"Booking B-46558", section_id:2},
                { start_date: "2016-11-30 18:30", end_date: "2016-11-30 20:00", text:"Booking B-45564", section_id:2},

                { start_date: "2016-11-30 08:00", end_date: "2016-11-30 12:00", text:"Booking C-32421", section_id:3},
                { start_date: "2016-11-30 14:30", end_date: "2016-11-30 16:45", text:"Booking C-14244", section_id:3},

                { start_date: "2016-11-30 09:20", end_date: "2016-11-30 12:20", text:"Booking D-52688", section_id:4},
                { start_date: "2016-11-30 11:40", end_date: "2016-11-30 16:30", text:"Booking D-46588", section_id:4},
                { start_date: "2016-11-30 12:00", end_date: "2016-11-30 18:00", text:"Booking D-12458", section_id:4}
            ],"json");
        }

        window.onload = init;
    </script>

{% endblock %}
