{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="page-height-o row-equal align-middle">
        <div class="column">
            <div class="card bg-white no-border">
                <div class="card-block">
                    <form role="form" class="form-layout" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="text-center m-b">
                            <h4 class="text-uppercase">Welcome</h4>
                            <p>Please sign in to your account</p>
                        </div>
                        <div class="form-inputs">
                            <label class="text-uppercase">Your email address</label>
                            <input type="email" class="form-control input-lg" name="_username" placeholder="Email Address" required>
                            <label class="text-uppercase">Password</label>
                            <input type="password" class="form-control input-lg" name="_password" placeholder="Password" required>
                        </div>
                        <button class="btn btn-primary btn-block btn-lg m-b" type="submit">Login</button>
                        {#<div class="divider">
                            <span>OR</span>
                        </div>
                        <a class="btn btn-block no-bg btn-lg m-b" href="{{ path('fos_user_registration_register') }}">Signup</a>#}
                        <p class="text-center">
                            <small>
                                <em>By clicking Log in you agree to LuxeRV internal confidentiality policy.</em>
                            </small>
                        </p>
                    </form>
                </div>
                <a ui-sref="user.forgot" href="{{ path('fos_user_resetting_request') }}" class="bottom-link">Forgotten password?</a>
            </div>
        </div>
    </div>
{% endblock %}