{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Invoices
        </div>
        <div class="card-block">

            <div class="row">
                <div class="col-md-1"><a href="{{  path('booking_operations') }}" class="btn btn-primary">Dashboard</a></div>
                {#<div class="col-md-1"><a href="{{  path('employees_new') }}" class="btn btn-primary">New Employee</a></div>#}
            </div><br />

            <table class="table table-bordered table-condensed datatable m-b-0">
                <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Vehicle rent</th>
                    <th>Equipment rent</th>
                    <th>Insurance cost</th>
                    <th>Service tax</th>
                    <th>Tax</th>
                    <th>Total amount paybale</th>
                    <th>Discount amount</th>
                    <th>Netamount payable</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.booking.id }}</td>
                        <td>{{ invoice.vehicleRent }}</td>
                        <td>{{ invoice.equipmentRent }}</td>
                        <td>{{ invoice.insuranceCost }}</td>
                        <td>{{ invoice.serviceTax }}</td>
                        <td>{{ invoice.tax }}</td>
                        <td>{{ invoice.totalAmountPaybale }}</td>
                        <td>{{ invoice.discountAmount }}</td>
                        <td>{{ invoice.netAmountPayable }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('invoices_show', { 'id': invoice.id }) }}">show</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.js') }}"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript">
        $('.datatable').dataTable();
    </script>
    <!-- end initialize page scripts -->

{% endblock %}

