{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">

    <style>
        .datetimepicker {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Customer creation
        </div>
        <div class="card-block">
            <div class="row m-a-0">
                <div class="col-lg-12">
                    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(edit_form.name, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Name"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.email, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Email address"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.phone, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.phone, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Phone"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.additionalPhone, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.additionalPhone, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Additional Phone"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.whatsapp, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.whatsapp, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Whatsapp"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.skype, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.skype, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Skype"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.billing, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.billing, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Billing"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.driverLicense, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.driverLicense, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Driver licence"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.drivingLicenceExpirationDate, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="input-group" id="exp-date-datetimepicker">
                            {{ form_widget(edit_form.drivingLicenceExpirationDate, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Driving Licence Expiration Date"} }) }}
                            <span class="input-group-addon datetimepicker">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.passport, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.passport, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Passport"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.insurance, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.insurance, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Insurance"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" value="Save Edit" />
                        </div>
                    </div>

                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('customer_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/transition.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/collapse.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#exp-date-datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>
{% endblock %}
