{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Customers
        </div>
        <div class="card-block">
            <table class="table table-bordered table-condensed datatable m-b-0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Aditional phone</th>
                    <th>Whatsapp</th>
                    <th>Skype</th>
                    <th>Billing</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.aditionalPhone }}</td>
                        <td>{{ customer.whatsapp }}</td>
                        <td>{{ customer.skype }}</td>
                        <td>{{ customer.billing }}</td>
                        <td>
                            <a href="{{ path('customer_edit', { 'id': customer.id }) }}"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('customer_new') }}">Create a new customer</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.js') }}"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript">
        $('.datatable').dataTable();
    </script>
    <!-- end initialize page scripts -->

{% endblock %}
