{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/multiselect/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/ui-select/dist/select.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/selectize/dist/css/selectize.css') }}">
    <style>
        .datetimepicker {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Booking edit
        </div>
        <div class="card-block">
            <div class="row m-a-0">
                <div class="col-lg-12">
                    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(edit_form.pickUpDate, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="input-group" id="pick-up-datetimepicker">
                            {{ form_widget(edit_form.pickUpDate, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Pick Up Date"} }) }}
                            <span class="input-group-addon datetimepicker">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.dropOffDate, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="input-group" id="drop-off-datetimepicker">
                            {{ form_widget(edit_form.dropOffDate, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Drop Off Date"} }) }}
                            <span class="input-group-addon datetimepicker">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.customer, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.customer, { 'attr': {'class': 'select2', 'data-placeholder': "Customer", 'style': 'width: 100%;'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.vehicle, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.vehicle, { 'attr': {'class': 'select2', 'data-placeholder': "Vehicle", 'style': 'width: 100%;'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" value="Edit"/>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('bookings_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/transition.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/collapse.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/dist/js/select2.js') }}"></script>
    <script src="{{ asset('assets/vendor/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/multiselect/js/jquery.multi-select.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#pick-up-datetimepicker, #drop-off-datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });

            $('.select2').select2();
        });
    </script>
{% endblock %}
