{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/multiselect/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/ui-select/dist/select.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/selectize/dist/css/selectize.css') }}">

    <style>
        .datetimepicker {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Booking creation
        </div>
        <div class="card-block">

            <div class="row">
                <div class="col-md-1"><a href="{{  path('booking_operations') }}" class="btn btn-primary">Dashboard</a></div>
                <div class="col-md-1"><a href="{{  path('bookings_index') }}" class="btn btn-primary">Bookings List</a></div>
            </div><br />

            <div class="row m-a-0">
                <div class="col-lg-12">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(form.pickUpDate, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            <div class="input-group" id="pick-up-datetimepicker">
                                {{ form_widget(form.pickUpDate, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Delivery Date"} }) }}
                                <span class="input-group-addon datetimepicker">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.dropOffDate, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            <div class="input-group" id="drop-off-datetimepicker">
                                {{ form_widget(form.dropOffDate, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Return Date"} }) }}
                                <span class="input-group-addon datetimepicker">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.pickUpLocation, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.pickUpLocation, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Delivery Location"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.dropOffLocation, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.dropOffLocation, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Return Location"} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.servicesRequested, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.servicesRequested, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Services Requested"} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.specialRequirements, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.specialRequirements, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Special Requirements"} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.unitNumber, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.unitNumber, { 'attr': {'class': 'form-control input-lg', 'placeholder': "Unit #", 'style': 'width: 100%;'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.bookingStatus, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.bookingStatus, { 'attr': {'class': 'select2', 'style': 'width: 100%;'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.customer, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.customer, { 'attr': {'class': 'select2', 'data-placeholder': "Customer", 'style': 'width: 100%;'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.vehicle, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                        }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.vehicle, { 'attr': {'class': 'select2', 'data-placeholder': "Vehicle", 'style': 'width: 100%;'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" value="Create"/>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/transition.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/collapse.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/dist/js/select2.js') }}"></script>
    <script src="{{ asset('assets/vendor/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/multiselect/js/jquery.multi-select.js') }}"></script>

    <script>
        $(document).ready(function () {

            var timeVars = {{ timeVars|json_encode|raw }};

            var timeFormatDelivery = "YYYY-MM-DD HH:mm";
            var timeFormatReturn = "YYYY-MM-DD HH:mm";

            if (timeVars.delivery) {
                timeFormatDelivery = "YYYY-MM-DD " + timeVars.delivery;
            }

            if (timeVars.return) {
                timeFormatReturn = "YYYY-MM-DD " + timeVars.return;
            }

            $('#pick-up-datetimepicker').datetimepicker({
                format: timeFormatDelivery
            }).on('dp.change', function(e) {
                //$('#drop-off-datetimepicker').datetimepicker('setDate', e.date);

                var endDate = e.date;

                if (timeVars.minDays && timeVars.minDays > 0) {
                    endDate = e.date.add(timeVars.minDays, 'days');
                }

                if (timeVars.return) {

                    console.log(timeFormatReturn);
                    console.log(endDate.format(timeFormatReturn));
                }

                $('#drop-off-datetimepicker').data('DateTimePicker').date(endDate);
            });

            $('#drop-off-datetimepicker').datetimepicker({
                format: timeFormatReturn
            });

            $('.select2').select2();
        });
    </script>
{% endblock %}
