{% extends 'base.html.twig' %}

{% block body %}
    <h1>Settings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dailymiles</th>
                <th>Defaultpickuptime</th>
                <th>Defaultdropofftime</th>
                <th>Defaultminrentdays</th>
                <th>Taxrate</th>
                <th>Depositamountrate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td><a href="{{ path('settings_show', { 'id': setting.id }) }}">{{ setting.id }}</a></td>
                <td>{{ setting.dailyMiles }}</td>
                <td>{{ setting.defaultPickUpTime }}</td>
                <td>{{ setting.defaultDropOffTime }}</td>
                <td>{{ setting.defaultMinRentDays }}</td>
                <td>{{ setting.taxRate }}</td>
                <td>{{ setting.depositAmountRate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('settings_show', { 'id': setting.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('settings_edit', { 'id': setting.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settings_new') }}">Create a new setting</a>
        </li>
    </ul>
{% endblock %}
