{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="card bg-white">
        <div class="card-header">
            Employees
        </div>
        <div class="card-block">

            <div class="row">
                <div class="col-md-1"><a href="{{  path('booking_operations') }}" class="btn btn-primary">Dashboard</a></div>
                <div class="col-md-1"><a href="{{  path('employees_new') }}" class="btn btn-primary">New Employee</a></div>
            </div><br />

            <table class="table table-bordered table-condensed datatable m-b-0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Ssn</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Street</th>
                    <th>Suite No.</th>
                    <th>Country</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    <tr>
                        <td><a href="{{ path('employees_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                        <td>{{ employee.firstName }}</td>
                        <td>{{ employee.lastName }}</td>
                        <td>{{ employee.ssn }}</td>
                        <td>{{ employee.addressCity }}</td>
                        <td>{{ employee.addressState }}</td>
                        <td>{{ employee.addressZip }}</td>
                        <td>{{ employee.addressStreet }}</td>
                        <td>{{ employee.addressSuiteNo }}</td>
                        <td>{{ employee.addressCountry }}</td>
                        <td>{{ employee.role }}</td>
                        <td>
                            <a href="{{ path('employees_edit', { 'id': employee.id }) }}"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.js') }}"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript">
        $('.datatable').dataTable();
    </script>
    <!-- end initialize page scripts -->

{% endblock %}
