<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <!-- toggle offscreen menu -->
        <div class="toggle-offscreen">
            <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
            <span>{{ site_name }}</span>
        </a>
        <a href="#" class="small-menu-visible brand-logo"></a>
        <!-- /logo -->
    </div>
    <!-- main navigation -->
    <nav role="navigation">
        <ul class="nav">
            {#<!-- dashboard -->
            <li>
                <a href="{{ path('homepage') }}">
                    <i class="icon-compass"></i>
                    <span>Dashboard</span>
                </a>
            </li>#}
            <!-- Booking Operations -->
            <li>
                <a href="{{ path('booking_operations') }}">
                    <span><i class="fa fa-bookmark fa-fw"></i>Dashboard</span>
                </a>
            </li>
            <!-- Notifications -->
            <li>
                <a href="{{ path('notifications_new') }}">
                    <span><i class="fa fa-comments fa-fw"></i>Notifications</span>
                </a>
            </li>
            <!-- Customers -->
            <li>
                <a href="{{ path('customer_index') }}">
                    <span><i class="fa fa-user fa-fw"></i>Customers</span>
                </a>
            </li>
            <!-- Vehicles -->
            <li>
                <a href="{{ path('vehicles_index') }}">
                    <span><i class="fa fa-car fa-fw"></i>Vehicles</span>
                </a>
            </li>
            <!-- Employees -->
            <li>
                <a href="{{ path('employees_index') }}">
                    <span><i class="fa fa-male fa-fw"></i>Employees</span>
                </a>
            </li>
            <!-- Bookings -->
            <li>
                <a href="{{ path('bookings_index') }}">
                    <span><i class="fa fa-sticky-note fa-fw"></i>Bookings</span>
                </a>
            </li>
            <!-- Invoices -->
            <li>
                <a href="{{ path('invoices_index') }}">
                    <span><i class="fa fa-money fa-fw"></i>Invoices</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /main navigation -->
</div>