<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <!-- toggle offscreen menu -->
        <div class="toggle-offscreen">
            <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
            <span>{{ site_name }}</span>
        </a>
        <a href="#" class="small-menu-visible brand-logo"></a>
        <!-- /logo -->
    </div>
    <!-- main navigation -->
    <nav role="navigation">
        <ul class="nav">
            <!-- dashboard -->
            <li>
                <a href="{{ path('homepage') }}">
                    <i class="icon-compass"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Customers -->
            <li>
                <a href="{{ path('customer_index') }}">
                    <i class="icon-users"></i>
                    <span>Customers</span>
                </a>
            </li>
            <!-- Vehicles -->
            <li>
                <a href="{{ path('vehicles_index') }}">
                    <i class="icon-speedometer"></i>
                    <span>Vehicles</span>
                </a>
            </li>
            <!-- Employees -->
            <li>
                <a href="{{ path('employees_index') }}">
                    <i class="icon-users"></i>
                    <span>Employees</span>
                </a>
            </li>
            <!-- Bookings -->
            <li>
                <a href="{{ path('bookings_index') }}">
                    <i class="icon-notebook"></i>
                    <span>Bookings</span>
                </a>
            </li>
            <!-- Booking Operations -->
            <li>
                <a href="{{ path('booking_operations') }}">
                    <i class="icon-notebook"></i>
                    <span>Booking Operations</span>
                </a>
            </li>
            <!-- Invoices -->
            <li>
                <a href="{{ path('invoices_index') }}">
                    <i class="icon-docs"></i>
                    <span>Invoices</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /main navigation -->
</div>