<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <!-- toggle offscreen menu -->
        <div class="toggle-offscreen">
            <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
            <span>{{ site_name }}</span>
        </a>
        <a href="#" class="small-menu-visible brand-logo"></a>
        <!-- /logo -->
    </div>
    <!-- main navigation -->
    <nav role="navigation">
        <ul class="nav">
            {#<!-- dashboard -->
            <li>
                <a href="{{ path('homepage') }}">
                    <i class="icon-compass"></i>
                    <span>Dashboard</span>
                </a>
            </li>#}
            <!-- Booking Operations -->
            <li>
                <a href="{{ path('booking_operations') }}">
                    <i class="fa fa-bookmark fa-fw"></i><div class="menu-titles">Dashboard</div>
                </a>
            </li>
            <!-- Notifications -->
            <li>
                <a href="{{ path('notifications_new') }}">
                    <i class="fa fa-comments fa-fw"></i><div class="menu-titles">Notifications</div>
                </a>
            </li>
            <!-- Customers -->
            <li>
                <a href="{{ path('customer_index') }}">
                    <i class="fa fa-user fa-fw"></i><div class="menu-titles">Customers</div>
                </a>
            </li>
            <!-- Vehicles -->
            <li>
                <a href="{{ path('vehicles_index') }}">
                    <i class="fa fa-car fa-fw"></i><div class="menu-titles">Vehicles</div>
                </a>
            </li>
            <!-- Employees -->
            <li>
                <a href="{{ path('employees_index') }}">
                    <i class="fa fa-male fa-fw"></i><div class="menu-titles">Employees</div>
                </a>
            </li>
            <!-- Bookings -->
            <li>
                <a href="{{ path('bookings_index') }}">
                    <i class="fa fa-sticky-note fa-fw"></i><div class="menu-titles">Bookings</div>
                </a>
            </li>
            <!-- Bookings Settings -->
            <li>
                <a href="{{ path('settings_index') }}">
                    <i class="fa fa-gear fa-fw"></i><div class="menu-titles">Settings</div>
                </a>
            </li>
            <!-- Invoices -->
            <li>
                <a href="{{ path('invoices_index') }}">
                    <i class="fa fa-money fa-fw"></i><div class="menu-titles">Invoices</div>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /main navigation -->
</div>